* {
  margin: 0px;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: border-box;
}

body {
  background: white;
}
header {
  display: flex;
  justify-content: center;
  font-size: 6vw;
  color: black;
  text-shadow: 2px 2px 2px #333;
  margin-bottom: 5%;
}

/* Nav Bar */
/*Style-Color & Font*/
.navbar a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px 2px #333;
  font-weight: 500;
  margin-left: 35px;
  transition: 1s; /* <--- Coloring effect timing*/
  z-index: 1;
}
/*Position*/
.navbar {
  position: absolute;
  padding-left: 225px;
  top: 100px;
  width: 35px;
  display: flex;
  justify-content: space-between;
}
.navbar a:hover,
.navbar a.active {
  /* <--- active shows what tab is active*/
  color: #99fb88;
  font-size: 20px;
}

/* ------ Merh --------*/
/* Sub Headers */
.headerr {
  display: flex;
  justify-content: center;
  font-size: 55px;
  transition: 3s;
  text-align: center;
  font-family: "Akronim";
  font-weight: normal;
  color: black;
  text-shadow: 2px 2px 2px #333;
  z-index: 1;
}
/* Gallery Wrap */
.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7% auto;
}

/* Gallery 1 */
.gallery {
  width: 1000px;
  display: flex;
  overflow-x: scroll;
}
.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gallery div img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: transform 0.5s;
}
.gallery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
.gallery::-webkit-scrollbar {
  display: none;
}
/*  Gallery Buttons */
/* Buttons 1 */
#backBtn,
#nextBtn {
  width: 25px;
  cursor: pointer;
  margin: 40px;
}

/* Gallery 2 */
.gallery2 {
  width: 1000px;
  display: flex;
  overflow-x: scroll;
}
.gallery2 div {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gallery2 div img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: transform 0.5s;
}
.gallery2 div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
.gallery2::-webkit-scrollbar {
  display: none;
}
